@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
::selection{
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
}
/*思源黑體*/
*{
    font-family: 'Noto Sans TC', sans-serif !important;
}
/*日文字*/
.jp-text{
    font-family: 'Noto Sans JP', sans-serif !important;
}
a{
    text-decoration: none !important;
}
.alert-color{
    color: rgb(153, 1, 1);
}
.remarks-color{
    color: rgb(85, 85, 85);
}
.white-text{
    color: rgb(255, 255, 255);
}
.text-black{
    color: rgb(0, 0, 0);
}
.blue-bg{
    background-color: rgb(72, 99, 173);
}
a.blue-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(72, 99, 173);
}
a.blue-btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 79, 153);
}
a.blue-btn-line{
    color: rgb(72, 99, 173);
    border: 1px solid rgb(72, 99, 173);
}
a.blue-btn-line:hover{
    color: rgb(52, 79, 153);
    border: 1px solid rgb(52, 79, 153);
}
/*首頁用色塊分割*/
.gray-bg{
    background-color: #f7f7f7;
}
/*特別應用色*/
.japan-color{
    color: #fffc00;
}
.japan-color:hover{
    color: #fffc00;
}
/*ASK-LOGO*/
.ask-logo img{
    width: 175px;
}
/*大標題*/
.main-title{
    font-size: 3rem;
}
.other-title{
    font-size: 1.5rem;
}
/*內文*/
.inside-text{
    font-size: 1.25rem;
    line-height: 1.9rem;
}
/*備註文字*/
.other-text{
    font-size: 1rem;
    line-height: 1.5rem;
}
/*按鈕*/
.btn-style{
    margin:20px auto;
    padding: 10px 20px;
    width: 100%;
    max-width: 150px;
    border: 1px solid rgb(200, 200, 200);
    color: rgb(150, 150, 150);
    border-radius: 20px;
    text-align: center;
    display: block;
    position: relative;
}
.btn-style:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 102, 102);
    background-color: rgb(255, 102, 102);
}
/*文字齊左*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
/*區塊隱藏*/
.opacity-l{
    opacity: 0;
}
.block-l{
    display: block;
}
.none-l{
    display: none;
}
/*平板共用樣式*/
@media screen and (max-width: 768px){
    .opacity-m{
        opacity: 0;
    }
    .block-m{
        display: block;
    }
    .none-m{
        display: none;
    }
}
/*手機板共用樣式*/
@media screen and (max-width: 768px){
    .opacity-s{
        opacity: 0;
    }
    .block-s{
        display: block;
    }
    .none-s{
        display: none;
    }
}