@charset "utf-8";


/* 使用說明
--------------------------------------------------------------------------------------------------------------- */

::selection {
  color: #fff;
  background-color: #c94645;
}

/* 著作權
--------------------------------------------------------------------------------------------------------------- */
.copyright{
	font-size:18px;
	line-height:35px;
	text-align:left;
	color:#000000;
	clear:both;
	
	
}

/* 著作權
--------------------------------------------------------------------------------------------------------------- */
