@charset "utf-8";
/*電腦版次選單
--------------------------------------------------------------------------------------------------------------- */
#header #logo{
    margin-top: 12px;
}
#mainav li li a, #mainav .active li a{
    background-color: rgb(0, 0, 0, .75);
    border: none;
}
#mainav .drop{
    padding-left: 0px;
}
#mainav .drop::after{
    height: 10px;
    top: 0px;
    right: -10px;
    bottom: 0px;
    margin: auto;
}
#mainav li{
    margin: 0 25px 0 0;
}
#mainav li li .drop::after{
    display: none;
}
/*首頁
--------------------------------------------------------------------------------------------------------------- */
.tab-pane img{
    box-shadow: 0 5px 5px rgb(225, 225, 225);
}
/*主視覺*/
.banner-title{
    font-size: 3rem;
}
.banner-title-btn{
    padding: 10px 20px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    border-radius: 10px;
}
.banner-title-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#introblocks .imgover{
    margin-bottom: 0;
}
/*產品介紹、規劃目標*/
.imgover{
    margin-bottom:10%;
}
#latest article .excerpt{
    margin: 0 0 15px 0;
    text-align: center;
    padding-left:0;
}
.heading{
    line-height: 24px;
    margin-bottom:0;
}
.buy-btn{
    font-size: 1rem;
    padding:5px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.buy-btn:hover{
    font-size: 1rem;
    padding:5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 102, 102);
	background-color:#ff6666;
}
.fa, .far, .fas{
    font-family : "Font Awesome 5 Free" !important;
}
#introblocks figure figcaption{
    background-color: rgb(20, 60, 165);
}
/*產品頁
--------------------------------------------------------------------------------------------------------------- */
.tab-btn-default{
    color: rgb(150, 150, 150) !important;
    border-bottom: 1px solid transparent !important;
}
.tab-btn-active{
    color: rgb(0, 0, 0) !important;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}
/*標題*/
.title{
    padding:0 15px;
    margin:5% 0;
    text-align: center;
}
.class > h3{
    padding:20px 0;
    background-color: #001d40;
    color: rgb(255, 255, 255);
    text-align: center;
}
/*頁籤*/
.tab-btn{
    padding: 0;
    margin:0 auto;
    list-style-type: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
}
.tab-btn li:first-child{
    margin-left: auto;
}
.tab-btn li:last-child{
    margin-right:auto;
}
.tab-btn li a{
    padding:20px 20px;
    font-size: 1.25rem;
    display: block;
    color: rgb(150, 150, 150);
    border-bottom: 1px solid transparent;
    transition: 0s;
}
.tab-btn li a:hover{
    color: rgb(0, 0, 0);
}
/*課程列表*/
.tab-list{
    margin:5% 0;
    display: flex;
    flex-wrap: wrap;
}
.tab-list div{
    margin:1.5% 0;
    padding:0 1.25%;
    width: 20%;
}
.tab-list div a{
    margin:20px auto;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    color: rgb(150, 150, 150);
    border-radius: 20px;
    text-align: center;
    display: block;
    position: relative;
    text-indent: 1.5rem;
}
.tab-list div a::after{
    height: 1.5rem;
    width: 1.5rem;
    content: '';
    position: absolute;
    top:0;
    right:50%;
    bottom:0;
    left:0;
    margin:auto;
    background-image: url(../images/product/shopping-cart.svg);
    background-repeat: no-repeat;
}
.tab-list div a:hover{
    background-color: rgb(235, 235, 235);
}
.tab-language{
    display: none;
}
/* 線上測驗
--------------------------------------------------------------------------------------------------------------- */
/*答案背景色啟動*/
.test-answers-active{
    background-color: rgb(255, 182, 85) !important;
}
.test-circle-active{
    background-color: rgb(0, 29, 64)!important;
}
/*測驗表單背景*/
.test-start{
    height: 100vh;
    min-height: 1000px;
    position: relative;
    background-image: url(../images/question/start-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.test-start-area{
    margin: 0 auto;
}
/*標題*/
.test-start-area h2{
    margin-bottom: 1.25%;
    font-size: 6rem;
    text-align: center;
    color: rgb(0, 112, 171);
}
/*內文*/
.test-start-area > span{
    margin:1.25% 0;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}
/*副標*/
.test-start-area p{
    font-size: 3.5rem;
    text-align: center;
    display: block;
    letter-spacing: 4px;
}
.test-start-area p span{
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 86, 0);
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}
/*火箭圖*/
.test-start-area > img{
    margin:7.5% auto;
    max-width: 250px;
    display: block;
}
.test-start-area form{
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
}
.test-start-area form div{
    margin: 2rem auto;
}
.test-start-area form div:first-child{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.test-start-area form div:first-child input{
    padding: 15px 20px;
    width: 100%;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: rgb(0, 112, 171);
    border:1px solid rgb(0, 112, 171);
}
.test-start-area form div:first-child button{
    padding: 15px 20px;
    width: 100%;
    margin-left: 1rem;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 108, 93);
    background-color: rgb(241, 108, 93);
}
/*開始評估按鈕*/
.test-start-area form div:last-child a{
    margin: auto;
    padding: 15px 0;
    width: 100%;
    max-width: 500px;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-align: center;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 29, 64);
    display: block;
}
/*測驗背景圖*/
.test-content{
    height: 100vh;
    min-height: 1000px;
    position: relative;
    background-image: url(../images/question/test-bg.jpg);
    background-position: center center;
    background-size: cover;
}
/*對話視窗*/
.test-content-area{
    height: 80%;
    max-height: 650px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    position: absolute;
}
/*對話視窗-題目*/
.test-content-area-question{
    margin:10% 10%;
    display: flex;
    align-items: center;
}
.test-content-area-question h1{
    min-width: 85px;
    font-size: 2rem;
}
.test-content-area-question p{
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.question-bold{
    color: rgb(225, 35, 35);
    text-decoration: underline;
}
/*選項*/
.test-content-area-answer{
    margin:10% 10%;
}
.test-content-area-answer a{
    margin:5% 0;
    font-size: 1.5rem;
    display: block;
    color: rgb(0, 0, 0);
    border:1px solid rgb(200, 200, 200);
    border-radius: 50px;
}
.question-list{
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(185, 185, 185);
    position: relative;
    z-index: 999;
    vertical-align: middle;
    display: inline-block;
    transition: 0.5s linear;
}
.test-content-area-answer a:first-child > span::after,.test-content-area-answer a:nth-child(2) > span::after,.test-content-area-answer a:nth-child(3) > span::after,.test-content-area-answer a:last-child > span::after{
    height: 2rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    margin: auto;
}
.test-content-area-answer a:first-child > span::after{
    content: 'A';
}
.test-content-area-answer a:nth-child(2) > span::after{
    content: 'B';
}
.test-content-area-answer a:nth-child(3) > span::after{
    content: 'C';
}
.test-content-area-answer a:last-child > span::after{
    content: 'D';
}
.test-content-area-answer a:hover{
    background-color: rgb(225, 225, 225);
}
/*下一題按鈕*/
.test-content-area-submit{
    margin: 10% 10%;
    display: none;
}
.test-content-area-submit a{
    padding: 1rem 0;
    margin: 0 auto;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(204, 51, 0);
    box-shadow: 0 0 5px rgb(200, 200, 200);
    display: block;
}
/*評測結果*/
.final-result{
    margin: 0 10%;
    padding-top: 7.5%;
    padding-bottom: 2.5%;
}
.final-result h2{
    padding-bottom:5%;
    font-size: 2rem;
    text-align: center;
}
.final-result h2 span{
    margin-left: 2rem;
    font-size: 3rem;
    display: inline-block;
    position: relative;
    top: 5px;
}
.final-result h2 span::after{
    content: '';
    height: 80px;
    width: 80px;
    border: 1px solid rgb(0 ,0 ,0);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left: -10px;
    margin:auto;
    border-radius: 80px;
}
.final-result p{
    padding: 5% 0;
    font-size: 1.5rem;
}
.final-result ul{
    margin-top: 5%;
    padding-left:1.5rem;
    list-style-type: disc;
    line-height: 1.5rem;
}
.final-content{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
}
.final-content-img{
    margin-right: auto;
    width: 62.5%;
}
.final-content-level{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.final-content-level div:first-child{
    margin-bottom: auto;
}
.final-content-level div:last-child{
    margin-top: auto;
}
.final-content-level div p{
    padding-top: 1rem;
    text-align: center;
}
.final-content-level div a{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(204, 51, 0);
    display: block;
}
/*---購物頁面共用 - 頁面標題---*/
.shopping-area-title{
    margin-bottom:2.5%;
    display: flex;
    align-items: center;
}
/*---購物頁面共用 - 結帳流程標示圖---*/
.shopping-area-title span{
    margin-left:auto;
}
.shopping-area-step{
    margin: 0 auto;
    margin-bottom:5%;
    width: 80%;
    display: flex;
    position: relative;
}
.shopping-area-step:after{
    content: '';
    width: 100%;
    border-bottom: 1px solid rgb(200, 200, 200);
    position: absolute;
    top:0;
    right: 0;
    bottom: 7.5px;
    left: 0;
    margin: auto;
    z-index: -9;
}
.shopping-area-step > div{
    margin:0 auto;
}
.shopping-area-step > div:first-child{
    margin-left: -32px;
    
}
.shopping-area-step > div:last-child{
    margin-right: -32px;
}
.shopping-area-step > div  p{
    color: rgb(200, 200, 200);
}
.shopping-area-step > div  span{
    margin:0 auto;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(200, 200, 200);
    display: block;
}
.shopping-area-step > div  p.step-active-text{
    color: rgb(72, 99, 173);
}
.shopping-area-step > div  span.step-active-dot{
    background-color: rgb(72, 99, 173);
    border: 1px solid rgb(72, 99, 173);
    position: relative;
}
.shopping-area-step > div  span.step-active-dot:after{
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/*---選擇付款頁面---*/
/*區塊標題*/
.shopping-area-payment-content-title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.shopping-area-payment-content-title h4{
    margin: 0;
    margin-right: auto;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 29, 64);
}
.shopping-area-payment-content-title span{
    color: rgb(150, 150, 150);
    margin-left: auto;
}
/*區塊內容*/
.shopping-area-payment-content{
    margin: 3.5% 0;
}
.shopping-area-payment-content-section{
    padding: 1.5%;
    background-color: rgb(240, 240, 240);
}
/*輸入欄位組件(桌機 & 平板)*/
.shopping-area-payment-content-section > span{
    margin-right: 0.5rem;
    color: rgb(0, 0, 0);
}
.shopping-area-payment-content-section > label > input[type=radio]{
    margin-right: 0.5rem;
}
.shopping-area-payment-content-section > label > input[type=text]{
    padding: 10px 20px;
    margin-left: 0.5rem;
    border: none;
}
.shopping-area-payment-content-section > label > span{
    margin-right: 0.5rem;
    color: rgb(0, 0, 0);
}
/*輸入欄位組件(手機)*/
.shopping-area-payment-content-section > label > div > input[type=radio], .shopping-area-payment-content-section > label > div > label > input[type=radio]{
    margin-right: 0.5rem;
    color: rgb(0, 0, 0);
}
.shopping-area-payment-content-section > label > div > input[type=text], .shopping-area-payment-content-section > label > div > label > input[type=text]{
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    border: none;
}
.shopping-area-payment-content-section > label > div > span, .shopping-area-payment-content-section > label > div > label > span{
    color: rgb(0, 0, 0);
}
/*流程提示字元*/
.alert-information{
    margin-top: 1rem;
}
/*結帳信箱*/
.information-mail-content{
    display: flex;
}
.mail-content input{
    padding: 10px 20px;
    min-width: 300px;
    border: none;
}
.gmail-content{
    margin-left:1rem;
    display: flex;
    align-items: center;
}
.gmail-content button{
    padding: 10px 20px;
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(241, 108, 93);
}
.gmail-content span{
    margin-left: 1rem;
    color: rgb(150, 150, 150);
    white-space: nowrap;
}
/*商品資訊*/
.information-product p{
    margin: 0;
}
/*付款方式*/
.payment-method{
    display: flex;
}
.payment-method label{
    margin-right: 2.5%;
    align-items: center;
    display: flex;
}
.payment-method label img{
    height: 50px;
    margin-left: 0.5rem;
}
/*優惠券*/
.information-coupon label{
    display: flex;
    align-items: center;
}
/*發票資訊(桌機 & 平板)*/
.information-invoice-l{
    display: flex;
}
.information-invoice-l label{
    margin-right: 2.5%;
    display: flex;
    align-items: center;
}
/*二聯式內容(桌機 & 平板)*/
.double-invoice-l{
    display: flex;
    align-items: center;
}
.double-invoice-l label{
    display: flex;
    align-items: center;
}
/*三聯式內容(桌機 & 平板)*/
.triple-invoice-l{
    display: flex;
    align-items: center;
}
.triple-invoice-l label{
    margin-right: 2.5%;
    display: flex;
    align-items: center;
}
/*捐贈發票內容(桌機 & 平板)*/
.donate-invoice-l{
    display: flex;
}
.donate-invoice-l label{
    margin-right: 2.5%;
    display: flex;
    align-items: center;
}
/*發票資訊(手機)*/
.information-invoice-m{
    display: none;
    flex-direction: column;
}
.information-invoice-m > label{
    border-bottom: 1px solid rgb(150, 150, 150);
}
.information-invoice-m label div{
    margin: 0;
    padding: 2.5% 0;
    display: flex;
    align-items: center;
}
.information-invoice-m label div label{
    padding: 2.5% 0;
}
.information-invoice-m label:last-child{
    border-bottom: none;
}
/*二聯式內容(手機)*/
.double-invoice-m{
    display: flex;
    flex-direction: column;
}
.double-invoice-m label{
    margin: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.double-invoice-m label:first-child{
    width: 100%;
}
.double-invoice-m label input[type=text]{
    width: 100%;
}
/*三聯式內容(手機)*/
.triple-invoice-m{
    display: flex;
    flex-direction: column;
}
.triple-invoice-m input{
    margin: 2.5% 0;
    width: 100%;
}
/*捐贈發票(手機)*/
.donate-invoice-m{
    display: flex;
    flex-direction: column;
}
.donate-invoice-m label{
    margin: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.donate-invoice-m label input[type=radio]{
    margin-right: 0.5rem;
}
/*下一步*/
.shopping-area-next-step a{
    margin-left: auto;
    padding: 10px 20px;
    font-size: 1.25rem;
    width: 20%;
    border-radius: 5px;
    text-align: center;
    display: block;
}
/*---購物清單頁面---*/
.shopping-area-content > div{
    padding: 2.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}
.shopping-area-content > div:last-child{
    align-items: flex-start;
}
.shopping-area-content > div:nth-child(3), .shopping-area-content > :last-child{
    border: none;
}
.shopping-area-content > div:last-child{
    background-color: rgb(72, 99, 173);
}
.shopping-area-content > div p{
    margin-bottom: 0;
}
.shopping-area-content > div p:first-child{
    margin-right: auto;
}   
.shopping-area-content > div p:last-child{
    margin-left: auto;
}
.shopping-area-content-item{
    display: flex;
}
.shopping-area-content-item-img{
    margin-right: auto;
    width: 32.5%;
}
.shopping-area-content-item-list{
    margin-left: auto;
    width: 62.5%;
}
.shopping-area-content-item-list div{
    margin: 5% 0;
    display: flex;
}
.shopping-area-content-item-list div p:last-child{
    margin-left: 1rem;
    white-space: nowrap;
}
.shopping-area-content-other-email{
    margin-right: auto;
    width: 32.5%;
}
.shopping-area-content-other-information{
    margin-left: auto;
    width: 62.5%;
}
.shopping-area-content-other-information-list{
    padding-bottom: 2.5%;
    display: flex;
}
.shopping-area-content-other-information-list:last-child{
    padding-bottom: 0;
}
.shopping-area-content-operation{
    margin-top: 5%;
    display: flex;
}
.shopping-area-content-operation a{
    padding: 10px 0;
    font-size: 1.25rem;
    width: 20%;
    border-radius: 5px;
    text-align: center;
}
.shopping-area-content-operation a:first-child{
    margin-left: auto;
    margin-right: 1.5%;
}
.shopping-area-content-operation a:last-child{
    margin-left: 1.5%;
}
.money-type{
    color: rgb(150, 150, 150);
}
/*---付款成功頁面---*/
.shopping-area-finish{
    padding:5%;
    background-color: rgb(240, 240, 240);
}
.shopping-area-finish div:first-child{
    margin-bottom: 10%;
}
.shopping-area-finish div:last-child{
    margin-top: 10%;
    display: flex;
    align-items: center;
}
.shopping-area-finish div:last-child img{
    width: 75px;
    margin:0 5%;
}
/*---付款失敗頁面---*/
.shopping-area-error{
    padding:0 5%;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
}
.shopping-area-error div{
    width: 50%;
}
.shopping-area-error div a{
    margin: 5% 0;
    padding: 10px 0;
    font-size: 1.25rem;
    border-radius: 5px;
    display: block;
    text-align: center;
}
/* 使用說明
--------------------------------------------------------------------------------------------------------------- */

::selection {
	color: #fff;
	background-color: #c94645;
	}

/* 著作權
--------------------------------------------------------------------------------------------------------------- */
.copyright{
	font-size:18px;
	line-height:35px;
	text-align:left;
	color:#000000;
	clear:both;	
}
.copyright-image{
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px){
    .test-start-area h2{
        font-size: 4rem;
    }
    .test-start-area p{
        font-size: 2rem;
    }
    .test-start-area > img{
        margin:15% auto;
        max-width: 250px;
        display: block;
    }
    .test-start-area form{    
        margin: 0 auto;
        width: 80%;
        max-width: 600px;
    }
    .class > h3{
        padding-left:15px;
        padding-right: 15px;
        font-size: 1.25rem;
    }
    .tab-list div{
        padding:0 2.5%;
        width:33.3%;
    }
}
@media screen and (max-width: 480px){
    #header{
        padding-top: 0px;
    }
    #pageintro article, #pageintro article p{
        margin-top: 100px;
    }
    .main-img{
        background-image: url(../images/index/banner_m.jpg) !important;
        background-size: 100%;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-title-btn{
        font-size: 1.5rem;
        border-width: 2px;
    }
    #latest > li{
        margin-bottom: 20%;
    }
    .test-start, .test-content{
        min-height: 1000px;
    }
    .test-start-area h2{
        font-size: 2.25rem;
    }
    .test-start-area span{
        padding: 10px 0;
        font-size: 1.25rem;
    }
    .test-start-area p{
        font-size: 1.5rem;
    }
    .test-start-area p span{
        padding: 0px;
        font-size: 1.5rem;
        background: none;
        box-shadow: none;
        color: rgb(212, 86, 0);
    }
    .test-start-area > img{
        margin:10% auto;
        max-width: 150px;
        display: block;
    }
    .test-start-area form div:first-child,.test-start-area form div:last-child{
        margin: 1rem auto;
    }
    .test-start-area form div{
        flex-wrap: wrap;
    }
    .test-start-area form div:first-child input, .test-start-area form div:first-child button{
        margin: 5px 0;
        padding: 10px 20px;
        width: 100%;
    }
    .test-start-area form div:last-child{
        margin: 25px 0;
    }
    .test-start-area form div:last-child button{
        padding: 10px 0;
    }
    .test-content-area{
        height: 90%;
        max-height: 625px;
    }
    .test-content-area-question h1{
        font-size: 1.5rem;
    }
    .test-content-area-question p{
        margin-left: 0.25rem;
    }
    .question-list{
        height: 40px;
        width: 40px;
        margin-right: 1rem;
    }
    .test-content-area-answer a{
        margin: 10% 0;
        font-size: 1.25rem;
    }
    .test-content-area-answer a:first-child > span::after, .test-content-area-answer a:nth-child(2) > span::after, .test-content-area-answer a:nth-child(3) > span::after, .test-content-area-answer a:last-child > span::after{
        height: 1.5rem;
        width: 1.25rem;
    }
    .final-result h2{
        font-size: 1.5rem;
        padding-bottom: 5%;
    }
    .final-result h2 span{
        font-size: 2.5rem;
    }
    .final-result h2 span::after{
        height: 70px;
        width: 70px;
    }
    .final-result p{
        padding: 2.5% 0;
        font-size: 1.25rem;
    }
    .final-result ul{
        padding-left: 0;
    }
    .final-content{
        flex-wrap: wrap;
    }
    .final-content-level{
        flex-direction: row;
    }
    .final-content-img, .final-content-level{
        padding: 10% 0;
        width: 100%;
    }
    .final-content-level div:first-child{
        margin-right: auto;
    }
    .final-content-level div:last-child{
        margin-left: auto;
    }
    .final-content-level div:first-child, .final-content-level div:last-child{
        width: 47.5%;
    }
    .final-content-level div p{
        display: none;
    }
    .title > h2{
        font-size: 1.25rem;
    }
    .tab-list div{
        padding:0 2.5%;
        width:50%;
    }
    .shopping-area-title{
        margin-bottom: 7.5%;
        display: flex;
        flex-wrap: wrap;
    }
    .shopping-area-title h4, .shopping-area-title span{
        width: 100%;
    }
    .shopping-area-step{
        margin-bottom: 15%;
        width: 85%;
    }
    .main-title{
        font-size: 2rem;
    }
    .other-title{
        font-size: 1.5rem;
    }
    .shopping-area-payment-content{
        margin:0;
        margin-bottom: 12.5%;
    }
    .shopping-area-payment-content-section{
        padding: 5%;
    }
    .information-mail-content{
        display: flex;
        flex-wrap: wrap;
    }
    .mail-content, .gmail-content{
        margin:2.5% 0;
        width: 100%;
    }
    .mail-content input{
        width: 100%;
    }
    .gmail-content button{
        margin: 0;
        width: 100%;
    }
    .payment-method{
        flex-wrap: wrap;
    }
    .payment-method label{
        margin: 2.5% 0;
        width: 100%;
    }
    .information-coupon label{
        flex-wrap: wrap;
    }
    .information-coupon label input{
        margin: 2.5% 0;
        margin-left: 0 !important;
        width: 100%;
    }
    .information-coupon label span, .information-coupon label input{
        margin: 2.5% 0;;
    }
    .information-invoice-l, .double-invoice-l, .triple-invoice-l, .donate-invoice-l{
        display: none;
    }
    .information-invoice-m{
        display: flex;
    }
    .shopping-area-next-step a{
        padding: 15px 0;
        font-size: 1.25rem;
        width: 100%;
        border-radius: 5px;
        text-align: center;
    }
    .shopping-area-content-item{
        flex-wrap: wrap;
    }
    .shopping-area-content-item-img{
        margin:5% auto;
        width: 80%;
    }
    .shopping-area-content-item-list{
        width: 100%;
    }
    .shopping-area-content-item-list div{
        margin: 5% 0;
    }
    div.shopping-area-content-total{
        padding: 5% 2.5%;
    }
    .shopping-area-content-other{
        flex-wrap: wrap;
    }
    .shopping-area-content-other-email, .shopping-area-content-other-information{
        width: 100%;
    }
    .shopping-area-content-other-information-list{
        margin:5% 0;
        padding:0;
        flex-wrap: wrap;
    }
    .shopping-area-content-other-information-list p{
        width: 100%;
    }
    .shopping-area-content-operation{
        margin-top: 10%;
    }
    .shopping-area-content-operation a:first-child{
        margin: 0;
        margin-right: auto;
        width: 47.5%;
    }
    .shopping-area-content-operation a:last-child{
        margin: 0;
        margin-left: auto;
        width: 47.5%;
    }
    .shopping-area-finish{
        padding: 0;
        background: none;
    }
    .shopping-area-finish div:last-child{
        flex-wrap: wrap;
    }
    .shopping-area-finish div:last-child img{
        margin: 5% auto;
    }
    .shopping-area-error{
        padding: 0;
        background: none;
    }
    .shopping-area-error div:first-child{
        width: 100%;
    }
    .shopping-area-error div:last-child{
        display: none;
    }
}